---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum,
        elit id varius fringilla, felis neque rhoncus tellus, sed venenatis diam
        dui id nulla. Nullam vel lacus vitae tortor fermentum dignissim.
        Curabitur condimentum scelerisque purus, nec consectetur sem rutrum nec.
        Nunc volutpat purus eu tellus tristique, et accumsan lacus semper. In
        venenatis rutrum quam, a efficitur libero ultrices sed. Pellentesque
        consectetur commodo massa, quis convallis purus varius ac. Sed eleifend
        bibendum lacus, ac ultricies tortor tincidunt vitae.
        <ul>
            {
                allPosts.map((post) => (
                    <BlogPost url={post.url} title={post.frontmatter.title} />
                ))
            }
        </ul>
    </p>
</BaseLayout>
